DATABASE_URL=postgresql://neondb_owner:npg_FLU98XwtVpye@ep-tiny-voice-b314posd-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
BETTER_AUTH_SECRET=lFrV0bYHA3eGp4EVlh26xcYTchdpUDuV
BOOTSTRAP_ADMIN_NAME=jangbersahaja
BOOTSTRAP_ADMIN_EMAIL=mmuter4@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=jang12345678
BOOTSTRAP_OUTLET_NAME="I Love Yoo Setia City Mall"
BOOTSTRAP_OUTLET_ADDRESS="LG-146, Setia City Mall Persiaran Setia Dagang Seksyen U13, Bandar, Setia Alam, 40170 Shah Alam, Selangor"
BOOTSTRAP_OUTLET_LATITUDE=3.1094792
BOOTSTRAP_OUTLET_LONGITUDE=101.4576422
BOOTSTRAP_OUTLET_TIMEZONE=Asia/Malaysia
