DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
PIN_PEPPER=
BOOTSTRAP_ADMIN_NAME=Jang
BOOTSTRAP_ADMIN_USERNAME=jangbersahaja
BOOTSTRAP_ADMIN_EMAIL=mmuter4@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=jang12345678
BOOTSTRAP_OUTLET_NAME=
BOOTSTRAP_OUTLET_ADDRESS=
BOOTSTRAP_OUTLET_LATITUDE=
BOOTSTRAP_OUTLET_LONGITUDE=
BOOTSTRAP_OUTLET_TIMEZONE=
STOREHUB_STORE_NAME=
STOREHUB_API_TOKEN=
STOREHUB_OUTLET_ID=
STOREHUB_POS_STORE_ID=
