DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
PIN_PEPPER=
VAPID_SUBJECT=https://ydm-onsite.vercel.app
VAPID_PUBLIC_KEY=BAv7s_b46h-X2kT4eS2B1yCVGh0FOezB5Tc5gxPAaLh-kaNl_TT2A3S7QHBntUX6l6o5mq60diVsYWoMKGkpVVY
VAPID_PRIVATE_KEY=9rQ4qwTsHZxr6ImFPsB0VyTO15SR0Gfwd4h2tgKjiE8
BOOTSTRAP_ADMIN_NAME=Jang
BOOTSTRAP_ADMIN_USERNAME=jangbersahaja
BOOTSTRAP_ADMIN_EMAIL=mmuter4@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=jang12345678
BOOTSTRAP_OUTLET_NAME=
BOOTSTRAP_OUTLET_ADDRESS=
BOOTSTRAP_OUTLET_LATITUDE=
BOOTSTRAP_OUTLET_LONGITUDE=
BOOTSTRAP_OUTLET_TIMEZONE=
STOREHUB_STORE_NAME=
STOREHUB_API_TOKEN=
STOREHUB_OUTLET_ID=
STOREHUB_POS_STORE_ID=
